* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* header styling */
header {
  background-color: black;
  color: white;
  font-size: 0.75em;
  font-weight: 200;
  height: auto;
}

.nav-wrapper ul li a {
  color: #fff;
}

.links-wrapper ul a {
  text-decoration: none !important;
  color: white !important;
  opacity: 1;
}
.links-wrapper ul a:hover {
  opacity: 0.8;
}
.logo,
.search,
.cart {
  width: 18px;
}
/* First section: MacBook Pro banner starts here */
.macbook-banner {
  background-color: #fafafa;
  padding-top: 12px;
}

/* Add space between the two links */
.macbook-links a {
  margin: 0 8px;
}

/* Keep the image responsive but prevent it from becoming too large */
.macbook-image {
  width: 100%;
  max-width: 540px;
}
/* First section: MacBook Pro banner ends here */

/* Descrption :  Fourth section style is started here
   Developed by : Welde J.
 */

.left-side-wrapper,
.right-side-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  width: 50%;
}
.card-wrapper .left-side-wrapper {
  background-image: url(../images/home/watch-series-5.jpg);
}
.card-wrapper .right-side-wrapper {
  background-image: url(../images/home/apple-card.jpg);
}
/* Link Hover Effect for */
.link-wrapper ul li a:hover {
  color: #000;
}
.link-wrapper ul li a::after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

/* Section four styling ends here */
/*Fivth Highlight Section */
.fifth-heghlight-wrapper {
  background: #fff;
}

<<<<<<< HEAD
/* fifth section stying starts here */
=======
.fifth-heghlight-wrapper .left-side-inner-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-image: url("../images/home/apple-tv-background.jpg");
  padding-top: 54px;
}
>>>>>>> main
.fifth-heghlight-wrapper .right-side-inner-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 54px;
  background-image: url("../images/home/air-pods.jpg");
  color: #fff;
  background-size: initial;
  background-color: #000;
  background-position: bottom;
}
.logo-wrapper {
  font-size: 40px;
  font-weight: bold;
}
.tvshow-logo-wraper {
  padding: 180px 0 150px;
}
.watch-more-wrapper a {
  text-decoration: none;
  font-size: 0.85em;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
<<<<<<< HEAD
=======
/*Fivth Highlight Section ends here */
>>>>>>> main

/* Footer Styling */

.footer-wrapper {
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: 0.65em;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  padding: 17px 0 20px;
}
.upper-text-container a {
  text-decoration: none;
  color: #515154;
}
.upper-text-container a:hover {
  text-decoration: underline;
}
.footer-links-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 20px;
}
.footer-wrapper ul li {
  padding: 5px 0;
  font-size: 0.9em;
}
.footer-links-wrapper a {
  color: #515154;
  text-decoration: none;
}
.footer-links-wrapper a:hover {
  text-decoration: underline;
}
.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
}
.my-apple-wrapper {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.copyright-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 10px 0 20px;
}
.footer-links-terms ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}
.footer-links-terms ul li:last-child {
  border-right: 0px;
}
.footer-links-terms ul li a {
  text-decoration: none;
  color: #515154;
}
.footer-links-terms ul li a:hover {
  text-decoration: underline;
}
.footer-country {
  display: inline-block;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.footer-country-name {
  display: inline-block;
  vertical-align: top;
}
/* Footer responsive */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }

  .footer-links-wrapper h3.expanded:after {
    font-family: "FontAwesome";
    content: "\0058";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
